<%= form_with(model: user, id:'c-user__form--stream') do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% form.label :name %>
    <%= form.text_field :name, {class: "c-form__control",placeholder: "Name"} %>
  </div>

  <div class="field">
    <% form.label :email %>
    <%= form.text_field :email,  {class: "c-form__control",placeholder: "Email"}%>
  </div>
  <% if defined?(subject) %>
    <div class="field">
      <input class="c-form__control" placeholder="Subject" type="text" name="email_subject" id="user_subject">
    </div>
  <% end %>

  <% if defined?(message) %>
    <div class="field">
      <textarea class="c-form__control u-mb--30" placeholder="Message" name="message" rows="6" id="message"></textarea>
    </div>
  <% end %>

  <div class="actions">
    <button type="submit" class="c-btn--secondary c-btn o-align--right">
      Submit
    </button>
  </div>
<% end %>
