<!DOCTYPE html>
<html>
  <head>
    <title>Rails Restaurant</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/assets/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
   
  </head>
  <% 
  body_cls = "body--mobile";
  if (params[:mob].nil?)
      body_cls = 'body--primary';
  end %>

  <body class="<%= body_cls;%>">
    <%= yield %>
  </body>
</html>
